*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    display: flex;
    flex-direction:column;
    height: 100vh; 
}
.app__header{
    background-color: rgb(255, 0, 0);
    height: 64px;
    display:flex;
    gap:10px;
    align-items: center;
}
.app__content{
    background-color: white;
    flex:1;
}
.app__footer{
    background-color: rgb(255, 0, 0);
    height: 64px;
    font-size: 25px;
    color: white;
    text-align: center;
}
.app__header__search{
flex:1
}
.app__header__button{
   align-items: center;
}

li{
    list-style: none;
    color: rgb(255, 0, 0);
}

.nav__list{
    display: flex;
    gap: 15px;
    background-color: rgb(255, 0, 0);
}
.nav{
    flex: 1;
}
.nav__list{
    justify-content: space-around;
    font-size: 30px;

}
.blog-con {
    display: flex;
    gap: 10px;
    padding-left: 1%;
    padding-right: 1%;
    flex-wrap: wrap;
    justify-content: center;

}
.blog-item{
    width: 200px;

}
.blog-item img{

    max-width: 100%;
    object-fit: cover;
}
.blog-title{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.blog-item h4 {
margin-top: 1rem
}
.blog-item p {
margin: 1rem 0;
}

.blog-item a{
    display: inline-block;
    color: #fff;
    background-color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}
a{
    color: #fff;
    text-decoration: none;
}

.flex-container{
    display: flex;
    gap: 10px;
    padding: 10px;  
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(231, 236, 206);
    justify-content: center;
}
.content1{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    width: fit-content;
    display: flex;
    font-size: 20px;
}
.blog{
    flex: 1;
}

@media screen and (max-width: 1023px){
    .app__header {
        flex-direction: column;
        height: fit-content;

    }
}

@media screen and (max-width: 767px){
    .app__header {
   
        height: fit-content;
    }
    .app {
        height: auto;
    }
    .nav__list{
        flex-direction: column;
    }
}
